* {
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;

  nav {
    width: 200px;
    height: 100%;
  }

  .content {
    flex: 1 1;
    height: 100%;
    padding: 15px;
    overflow: auto;
  }
}